body {
  font-family: "Century Gothic", sans-serif;
  text-align: center;
  background-color: #fce4ec;
  margin: 0;
  padding: 0;
}

header,
footer {
  background-color: #880e4f;
  color: white;
  padding: 10px;
  letter-spacing: 20px;
}

#left {
  width: 50%;
  height: 600px;
  overflow: auto;
  float: left;
}
#right {
  background-color: #880e4f;
  color: white;
  width: 40%;
  height: 500px;
  margin: 35px;
  box-shadow: 10px 10px 15px dimgray;
  float: right;
}

table {
  margin: auto;
  width: 70%;
}

input {
  padding: 5px;
  width: 70%;
}

tr:hover {
  color: #f8bbd0;
}

footer {
  clear: both;
}
