* {
  font-family: Garamond;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: tomato;
  color: white;
  text-align: center;
  height: 80px;
  overflow: hidden;
}

main {
  width: 80%;
  float: left;
  height: 680px;
}

aside {
  background-color: coral;
  width: 20%;
  height: 680px;
  float: left;
}

footer {
  background-color: tomato;
  clear: both;
}

img {
  border-radius: 50%;
  margin: 0 10px;
}

.chat {
  border: 1px solid tomato;
  margin: 15px;
  height: 470px;
  overflow: scroll;
}

.wypowiedz {
  border-radius: 5px;
  width: 90%;
  height: 70px;
  margin: 2%;
  padding: 3px;
}

#jolanta {
  background-color: #eee;
}

#jolanta img {
  float: left;
}

#krzysiek {
  background-color: #ccc;
  text-align: right;
}

#krzysiek img {
  float: right;
}

button {
  background-color: tomato;
  border: 1px solid darkred;
  padding: 5px;
  font-weight: bold;
}

input {
  width: 500px;
}


}
